body {font-family: Arial;}

/* Style da aba (tab) */
.tab {
  overflow: hidden;
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(128, 128, 128);
  width: 100%;
}

/* Style dos botões dentro da aba */
.tab button {
  background-color: inherit; /* cor do elemento pai */
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Muda a cor do fundo do botão on hover */
.tab button:hover {
  background-color: rgb(211, 211, 211);
}

/* Cria estilo da aba ativa/atual - tablinks class */
.tab button.active {
  background-color: rgb(96, 96, 96);
}

/* Estilo do conteúdo de cada aba */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

body,
ul,
li {
    /*font-family: Verdana, Geneva, Tahoma, Verdana, Geneva, Tahoma, sans-serif;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(180, 180, 180);
}

header {
    background-color: rgb(180, 180, 180);
    text-align: center;
    position: relative;
    width: 100%;
}

.formCadastro{
    background-color: rgb(220, 220, 220);
}

.formPesquisar{
    background-color: rgb(220, 220, 220);
}

.formListagem{
    background-color: rgb(220, 220, 220);
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: inline-block;
    padding: 10px 10px;
    position: sticky;
    top: 0px;
}
/*
.newAluno {
    background-color: rgb(144, 144, 144);
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
*/
.newItem {
    background-color: rgb(253, 253, 253);
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    display:flex;
    font-size: 16px;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.btnPesqCEP {
    padding: 5px 5px;
    background-color: rgb(144, 144, 144);
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn {
    padding: 5px 5px;
    background-color: rgb(144, 144, 144);
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: rgb(108, 108, 108);
    color: black;
}

.updBtn {
    padding: 5px 5px;
    background-color: rgb(144, 144, 144);
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.updBtn:hover {
    background-color: rgb(108, 108, 108);
    color: black;
}

.pesqBtn {
    padding: 5px 5px;
    background-color: rgb(144, 144, 144);
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.pesqBtn:hover {
    background-color: rgb(108, 108, 108);
    color: black;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

.linha {
    flex-flow: row wrap;
    padding:10px; 
}
  
.coluna-50 {
    width: 50%;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 90%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(220, 220, 220);
}
